{% extends 'base.html' %}

{% block content %}
<h2>Recipe Requirement List</h2>

<a href="{% url 'reciperequirementcreate' %}"><button>Add Recipe Requirement</button></a>
<table>
    <tr>
        <th>Name</th>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
        {% for item in reciperequirement_list %}
    <tr>
        <td>{{ item.menuitem }}</td>
        <td>{{ item.ingredient }}</td>
        <td>{{ item.quantity }}</td>
        <td>
            <a href="{% url 'reciperequirementupdate' item.id %}"><button>Update</button></a>
            <a href="{% url 'reciperequirementdelete' item.id %}"><button>Delete</button></a>
        </td>
    </tr>
        {% endfor %}
</table>
{% endblock %}